# ingore all files
*


# keep those source or header files
!*.cc
!*.c
!*.cpp
!*.h
!*.hpp

# keep those data files
!*.txt
!*.dat

# keep makefiles
!Makefile
!makefile

# keep github org
!README
!*.md


